.pagination {
  padding: 2rem 0;
  text-align: right;
}

.pagination__list {
  list-style: none;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: .25rem;
}

.pagination__item {
  display: inline-block;
  padding: .375rem .75rem;
  border-right: 1px solid #ccc;
  cursor: pointer;
  vertical-align: middle;
  color: #007BFF;
}

.pagination__item:last-child {
  border-right: none;
}

.pagination__item.active {
  background-color: #007BFF;
  color: #FFF;
}

.pagination__item.disabled {
  cursor: default;
  color: #CCC;
}